.header {
  text-align: left;
}

.searchbar-row {
  margin-top: -2rem;
  display: flex;
  flex-wrap: wrap;
  padding-right: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .label-column1 {
    width: 20%;
  }
  .select-column {
    width: 20%;
    padding-right: 4rem;
  }
}

.label {
  display: block;
  font-weight: normal;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  padding-right: 1rem;
}

.results-container {
  background-color: #222F59;
  padding: 2rem;
  border-radius: 0.75rem;
}

.list{
  font-size: 1.25rem;
  border-collapse: collapse;
  width: 600px;
}

.list th{
  color: white;
  padding: 8px;
  text-align: left; 
}

