/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Set default font and background color for the body */
body {
    font-family: "Optima", sans-serif;
    background-color: #1e1e30; /* Dark theme background */
    color: white;
}

/* Styling for the main container */
.flex {
    display: flex;
    min-height: 100vh;
}

/* Styling for the sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 18rem;
    padding: 2rem;
    background-color: #292946; /* Updated dark theme color */
}

.sidebar .logo {
    justify-content: center;
    margin-top: 2rem;
    display: flex;
}

/* Logo icon styling */
.sidebar .logo-icon {
    width: 4rem;
    height: 4rem;
    background-color: #383850; /* Match container background */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .add-workout-btn {
    width: 100%;
    height: 4rem;
    background-color: #5e5da5; /* Purple matching button style */
    font-size: 1.3rem;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    margin-top: 5rem;
    border: none;
    cursor: pointer;
}

.sidebar .add-workout-btn:hover {
    background-color: #4b4a88; /* Darker purple on hover */
}

.sidebar .nav {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.sidebar .nav-item {
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    align-items: center;
    gap: 1rem;
    color: #a9aac4; /* Subtle gray */
    width: 100%;
    cursor: pointer;
}

.sidebar .nav-item:hover {
    color: rgb(255, 251, 192);
}

.sidebar .logout-btn {
    display: flex;
    gap: 0.5rem;
    color: #a9aac4;
    position: absolute;
    bottom: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

.sidebar .logout-btn:hover {
    color: rgb(255, 251, 192);
}

/* Styling for the main content area */
.main-content {
    flex: 1;
    padding: 5rem;
}

.main-content .header {
    margin-top: -1rem;
    margin-bottom: 2.5rem;
}

.main-content .welcome-text {
    font-size: 1.5rem;
}

.main-content .activities-text {
    font-size: 2rem;
    margin-top: 0.5rem;
}

/* Styling for the activity cards container */
.activity-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

/* Small screen display 2 columns */
@media (min-width: 768px) {
    .activity-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Large screen display 3 columns */
@media (min-width: 1024px) {
    .activity-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Styling for individual activity cards */
.activity-card {
    background-color: #292946; /* Match sidebar color */
    padding: 1.5rem;
    border-radius: 1rem;
}

.activity-card .activity-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.activity-card .activity-date {
    color: #a9aac4; /* Subtle gray for date text */
    font-size: 0.875rem;
}

.activity-card .activity-type {
    font-size: 1.7rem;
}

.activity-card .activity-metrics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.activity-card .metric {
    display: flex;
    flex-direction: column;
}

.activity-card .metric-label {
    color: #a9aac4;
    font-size: 0.875rem;
}

.activity-card .metric-value {
    font-size: 1.125rem;
}
